[Unit]
After=network.target
Description=Inscribing Amsterdam Website
StartLimitBurst=120
StartLimitIntervalSec=10m

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=caddy run \
  --config /var/lib/inscribingamsterdam/Caddyfile
Group=root
LimitNOFILE=65536
/* MemoryDenyWriteExecute=true */
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
/* ProtectHome=true */
ProtectSystem=full
Restart=on-failure
RestartSec=5s
StateDirectory=inscribingamsterdam
StateDirectoryMode=0700
TimeoutStopSec=10m
Type=simple
User=root
WorkingDirectory=/var/lib/inscribingamsterdam

[Install]
WantedBy=multi-user.target
